/* Minimalny reset  */
html
{
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}


/* <!-- -------------general------------- --> */
:root
{
  /* <!-- ---general--- --> */
  --shadow: 0 0 8px rgba(0,0,0,0.5);

  /* <!-- ---light-mode--- --> */
  --primary: hsl(210, 100%, 60%);
  --bg-dark: hsl(0 0% 90%);
  --text: hsl(0, 0%, 5%);
  --text-bright: hsl(0 0% 95%);
}

.default-section
{
  display: flex;
  padding: 20px 0px;
  height: calc(100vh - 80px);
  width: 100%;
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/* <!-- -------------hero section------------- --> */
#hero
{
  height: calc(100vh);
  width: 100%;
  background-image: url(lab-1/src/images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}

.hero-text
{
  height: 100%;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-bright);
}

.hero-text h1
{
  font-size: clamp(1.75rem, 0.25rem + 6vw, 4.5rem);
  margin: 0;
}

.hero-text p
{
    margin-bottom: 40px;
    font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
    color: var(--text-bright);
}

.hero-text .hero-button
{
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(1rem, 0.125rem + 1.5vw, 1.25rem);
  cursor: pointer;
  padding: clamp(0.5rem, 1.5vh, 1rem) clamp(1rem, 5vw, 4rem);
  background-color: var(--bg-dark);
  color: var(--primary);
  border-radius: 30px;
  border: 0;
  transition: 0.4s;
  margin: 10px;
}

.hero-text .hero-button:hover
{
  transform: translateY(-5px);
}

.row
{
  display: flex;
  align-items: center;
}

.labs
{
  margin-top: 40px;
}